@media screen and (max-width: 1000px) {
  #SubTitle {
    font-size: 30px;
  }
}

@media screen and (min-width: 1000px) {
  #SubTitle {
    font-size: 40px;
  }
}

#service_image {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  border: solid 6px #dfe0e1;
}
