@media screen and (max-width: 1000px) {
  .SubTitle {
    font-size: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .SubTitle {
    font-size: 40px;
  }
}

.vinhetas {
  height: 250px;
  width: 250px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.BotaoNavMain {
  color: #ec4326;
  font-size: 18px;
}

.BotaoNavMain:hover {
  text-decoration: underline;
}

.logo {
  height: 70px;
  margin-bottom: 10px;
}

.TituloDesafio {
  font-family: cursive;
}

.resposta {
  border: #88c4ff solid 3px;
  border-radius: 10px;
}
.resposta h2 {
  color: #3298ff;
}

.resposta_textarea {
  width: 700px;
  height: 200px;
}

.opcoes:first-of-type {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.opcao {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.opcao input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 20px;
  height: 20px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
  outline: none;
}

input:checked {
  border: 6px solid #88c4ff;
  outline: none;
}

button,
legend {
  color: #ffffff;
  background-color: #88c4ff;
  padding: 5px 10px;
  border-radius: 20px;
  border: 0;
  font-size: 14px;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover,
button:focus {
  background-color: #3298ff;
  outline: none;
}

button:active {
  background-color: white;
  color: black;
  outline: none;
}

.AntesProximo button {
  height: 50px;
  margin-top: 10px;
}

.AntesProximo button img {
  height: 40px;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.wrapper main {
  flex: 1;
}

.Lupa {
  width: 30px;
  height: 30px;
}

.TituloPagina {
  display: block;
  width: 100%;
  color: #ec4326;
  font-weight: 500;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-align: center;
  line-height: 75px;
}

.linha {
  background: #ec442636;
}

.Lista {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Lista li {
  background-color: rgb(180, 180, 180);
  width: 85%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}

.Lista li h4 {
  text-align: center;
  margin: auto;
}

.Lista li h4 a {
  color: #303033;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
}

.img-flex {
  padding: 0.25rem;
  max-width: 100%;
  height: auto;
}

.stop-action {
  opacity: 0.5;
}

.zoom {
  transition: all 0.5s;
  cursor: pointer;
}

.zoom:hover {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-filter: drop-shadow(15px 10px 5px rgba(40, 40, 40, 0.5));
  filter: drop-shadow(15px 10px 5px rgba(40, 40, 40, 0.5));
}

.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.game {
  width: 600px;
  height: 600px;
  /*	margin: 0 auto;
  background-color: white;
  color: black;
  border: 6px solid black;
  border-radius: 10px;
*/
  display: grid;
  grid-template: repeat(3, 0.25fr) / repeat(3, 0.45fr);
}

.game > div {
  border: 6px solid black;
  /*border-radius: 2px;*/
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
